{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row"><div class="col-12">
      <a href="/{{category.name.lower() }}"><h3 class="cat {{ category.name.lower() }}">
        <i class="material-icons">arrow_back</i> {{ category.name }}
      </h3></a> 
      <h1 class="cat {{ category.name.lower() }}">{{ option.name }}</h1>
      <h2 class="main">
        {{ option.description }}
      </h2>
      {% if log =='True' %}
        <a href="/{{ category.name.lower() }}/{{ option.id }}/edit">
          <div class="btn-action btn-edit bg-{{ category.name.lower() }}"><i class="material-icons">mode_edit</i></div>
        </a>
        <a href="/{{ category.name.lower() }}/{{ option.id }}/delete">
          <div class="btn-action-sub btn-delete"><i class="material-icons">delete</i></div>
        </a>
      {% endif %}
    </div></div>
  </div>

  <div class="container">
    <div class="row option-title {{ category.name.lower() }} bb-{{ category.name.lower() }}">
      <div class="col-sm-12">Links</div>
    </div>
    <div class="row link-list">
      <div class="col-sm-12"> 
         <ul> 
           {% for link in links %}
             <li class="link-list hover-{{category.name.lower() }}"><a href="{{ link.url }}">{{ link.title }}</a></li>
           {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
